*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'PT Sans', sans-serif
}

.nav-bar{
    font-size: 2rem;
    padding: 2rem;
    display: block;
    text-align: center;
    background-color: #00ffff;
}

main{
    display: block;
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}

textarea{
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    padding: 1rem;
}

button{
    background-color: #00ffff;
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
}
.output-heading{
    display: block;
    margin-bottom: 1rem;
}
#outputDiv{
    border: 1px solid black;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #00ffff;
    text-align: center;
}